<%- include('partials/header') -%>

</html>
  <body class="bg-themeVeryLightGray">
   <nav class="relative container mx-auto p-6">
    <div class="flex items-center justify-between">
      <div class="w-12">
      
        <img src="/imgs/logo.svg" alt="">
      </div>
      <div class="hidden md:flex space-x-6 font-bold">
        <a href="/login" class="text-main hover:text-black">LOGIN</a>
        <a href="/signup" class="text-main hover:text-black">SIGNUP</a>
      </div>
    </div>
   </nav>

   <!--HERO-->

     <header
        class="w-full h-2/3 bg-[url('/imgs/hero.jpg')] bg-cover bg-center flex justify-center items-center ">
        <div class="flex flex-col justify-center items-center">
            <h1 class=" text-center text-5xl text-white font-bold drop-shadow-lg">SHARE YOUR RECIPIES
            <span class="text-red-500">Simplenoms.COM</span>
            </h1>
            <p class="mt-5 text-center text-lg text-white opacity-70">  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nobis quidem quisquam provident ea dolorum deleniti ducimus deserunt blanditiis, nostrum odit officia sunt ullam maxime magni vero, optio in possimus?
</p>
            <a class="mt-8 px-12 py-3 bg-gradient-to-r from-amber-500 to-red-600 hover:from-amber-600 hover:to-red-700 text-xl text-white/70 font-semibold drop-shadow-lg rounded-full"
                href="/signup">Find a Recipe!</a>
        </div>
    </header>

<!--Features-->
 <section id="features">
      <!-- Flex container -->
      <div
        class="container flex flex-col px-4 mx-auto mt-10 space-y-12 md:space-y-0 md:flex-row"
      >
        <!-- What's Different -->
        <div class="flex flex-col space-y-12 md:w-1/2">
          <h2 class="max-w-md text-4xl font-bold text-center md:text-left">
           What is it?
          </h2>
          <p class="max-w-sm text-center text-darkGrayishBlue md:text-left">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem veritatis iste maiores non earum perferendis dignissimos ipsa officiis assumenda fugiat?
          </p>
        </div>

        <!-- Numbered List -->
        <div class="flex flex-col space-y-8 md:w-1/2">
        
          <div
            class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row">
          
            <div class="rounded-l-full bg-main md:bg-transparent">
              <div class="flex items-center space-x-2">
                <div class="px-4 py-2 text-white rounded-full md:py-1 bg-main">
                  01
                </div>
                <h3 class="text-base font-bold md:mb-4 md:hidden">
                  Access Everywhere!
                </h3>
              </div>
            </div>

            <div>
              <h3 class="hidden mb-4 text-lg font-bold md:block">
                Access Everywhere!
              </h3>
              <p class="text-black">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid magni animi blanditiis laudantium dicta, soluta magnam quasi. Dolor, beatae nemo.
              </p>
            </div>
          </div>

          <!-- List Item 2 -->
          <div
            class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row"
          >
            <!-- Heading -->
            <div class="rounded-l-full bg-main md:bg-transparent">
              <div class="flex items-center space-x-2">
                <div
                  class="px-4 py-2 text-white rounded-full md:py-1 bg-main"
                >
                  02
                </div>
                <h3 class="text-base font-bold md:mb-4 md:hidden">
                  Recipe Blog
                </h3>
              </div>
            </div>

            <div>
              <h3 class="hidden mb-4 text-lg font-bold md:block">
               Recipe Blog
              </h3>
              <p class="text-darkGrayishBlue">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, dicta. Sit ducimus reiciendis animi tempore atque sequi, maxime amet laborum!
              </p>
            </div>
          </div>

          <!-- List Item 3 -->
          <div
            class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row"
          >
            <!-- Heading -->
            <div class="rounded-l-full bg-main md:bg-transparent">
              <div class="flex items-center space-x-2">
                <div
                  class="px-4 py-2 text-white rounded-full md:py-1 bg-main"
                >
                  03
                </div>
                <h3 class="text-base font-bold md:mb-4 md:hidden">
                  Share with others
                </h3>
              </div>
            </div>

            <div>
              <h3 class="hidden mb-4 text-lg font-bold md:block">
                Share with others
              </h3>
              <p class="text-black">
               Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, quam. Omnis eveniet quibusdam minima reprehenderit consequatur in consectetur unde incidunt.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>

    

